**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [37]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [39]:
new_ratings = ratings.merge(movies, on='movieId', how='outer')
new_ratings = new_ratings[(new_ratings['rating']==5.0)].title.value_counts()

In [40]:
new_ratings.head(1)

Shawshank Redemption, The (1994)    39553
Name: title, dtype: int64

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [9]:
power = pd.read_csv('power.csv')

In [12]:
data = power[ ((power['country']=='Lithuania') | (power['country']=='Latvia') | (power['country']=='Estonia'))&((power['category']==4)| (power['category']==12) | (power['category']==21))&((power['year']==2005)| (power['year']==2006) | (power['year']==2007) | (power['year']==2008) | (power['year']==2009) | (power['year']==2010))]
# data.head()
# data.info()
data.sort_values(by='quantity').head()
average_level = data['quantity'].sum()
average_level

240481.0

In [ ]:
power[ ((power['country']=='Lithuania') | (power['country']=='Latvia') | (power['country']=='Estonia'))

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [73]:
new_data = pd.read_html('https://fortrader.org/quotes')[2]
# new_data.info()
new_data

                          Type      Last   Chg.   Chg.%  Time
0      Серебро Цена на серебро    17.489  0.035  0.2010   NaN
1    Палладий Цена на Палладий  2171.700 -7.350 -0.3400   NaN
2  Золото Цена золота на бирже  1570.490  3.430  0.2200   NaN
3      Платина Цены на платину   993.100  4.300  0.4000   NaN
4      Медь Цена меди на бирже     2.585 -0.002 -0.0773   NaN